<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gamer"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OtpValidationActivity"
            android:label="OTP Validation Activity">
        </activity>
        <activity
            android:name=".ForgetPasswordActivity"
            android:label="Forget Password Activity">
        </activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:label="Reset Password Activity">
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="Sign Up Activity">
        </activity>
        <activity
            android:name=".LogInActivity"
            android:label="Log in Activity">
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Home Page Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>